.board_wrap {
  width: 100%;
  margin: 0 auto;
  /* background: #f6f7fb; */
}
.board_write {
  width: 1240px;
  text-align: center;
  margin: 40px auto;
}

.form-wrapper {
  width: 60%;
  margin: 5px auto;
}

.title-input {
  width: 400px;
  height: 40px;
  margin: 0 4px;
}

.submit-button {
  width: 200px;
  height: 70px;
  font-size: 20px;
  padding: 20px;
  border: none;
  background: indianred;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
  color: #000;
}
.submit-button:hover {
  background: rgb(235, 109, 109);
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 400px;
}
.form-wrapper .mb-2 {
  margin: 4px 3px 5px 3px;
}
.form-wrapper .btn-group {
  margin: 3px 0 7px 0;
}
