.content_wrap {
  width: 100%;
  margin: 0 auto;
  /* background: #f6f7fb; */
  font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
    '맑은 고딕', 'Malgun Gothic', '돋움', dotum, sans-serif;
}
.l_content {
  position: relative;
  min-height: 300px;
}
.l_order_header {
  position: relative;
  height: 88px;
  -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 6%), 0 2px 12px 0 rgb(0 0 0 / 3%);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 6%), 0 2px 12px 0 rgb(0 0 0 / 3%);
  z-index: 10;
}
.b_order_header {
  width: 1240px;
  height: 44px;
  margin: 0 auto;
  padding: 22px 0;
}
.c_order_title {
  float: left;
}
.c_order_title .c_order_header {
  font-size: 32px;
  color: #000;
  letter-spacing: 0;
  font-weight: bold;
}

.c_order_step {
  float: right;
}
.c_order_step .step {
  overflow: hidden;
  height: 42px;
  border-radius: 25px;
  border: 1px solid #eee;
}
.c_order_step .step .active {
  font-weight: bold;
  color: #fff;
  background-color: #333;
}
.c_order_step .step li .number {
  font-weight: bold;
}
.number {
  font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', '맑은 고딕',
    'Malgun Gothic', '돋움', dotum, sans-serif;
  font-style: normal;
}

.c_order_step .step li {
  float: left;
  min-width: 80px;
  padding: 10px 15px 11px 15px;
  font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
    '맑은 고딕', 'Malgun Gothic', '돋움', dotum, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  text-align: center;
  letter-spacing: 0;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
.c_order_step .step .second {
  min-width: 70px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.l_order_content_wrap {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  zoom: 1;
}

.b_order_cart_top {
  height: 64px;
  padding: 19px 10px;
  background: #fafafa;
  border: 1px solid #eee;
  border-width: 1px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.b_order_cart_top .all_check {
  display: inline-block;
  margin-right: 14px;
}
.b_order_cart_top label,
.b_order_cart_top button {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
}
.c_order_checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.b_order_cart_top .c_order_checkbox span {
  height: 24px;
  font-size: 16px;
  color: #333;
  line-height: 24px;
  vertical-align: top;
}
.c_order_checkbox > span {
  position: relative;
  display: inline-block;
  height: 22px;
  padding-left: 30px;
  vertical-align: middle;
  line-height: 22px;
  font-size: 15px;
  color: #666;
}
.c_order_checkbox > span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 100%;
}
.b_order_cart_top .c_order_checkbox span {
  height: 24px;
  font-size: 16px;
  color: #333;
  line-height: 24px;
  vertical-align: top;
}
.c_order_checkbox > span:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 5px;
  display: block;
  width: 10px;
  height: 6px;
  border: 1px solid #ddd;
  border-width: 0 0 1px 1px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.b_order_cart_top button {
  position: relative;
  margin: 0 15px;
}
.b_order_cart_top button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -15px;
  display: inline-block;
  width: 1px;
  height: 15px;
  margin: 5px 0 0 0;
  background-color: #ddd;
  vertical-align: top;
}

.b_order_cart_wrap {
  margin: 45px 0 45px;
}
.c_order_cart_list .empty_cart {
  padding: 127px 0 121px 0;
  text-align: center;
  border-top: 1px solid #ccc;
}
.c_order_cart_list .empty_cart .txt {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.c_order_cart_list .empty_cart .sub_txt {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  line-height: 20px;
}
.c_order_cart_list .empty_cart .c_order_btn {
  width: 80px;
  margin-top: 30px;

  display: inline-block;
  padding: 9px 11px 8px;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 1.4;
  font-size: 15px;
  color: #111;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
}
.c_order_cart_list .empty_cart .c_order_btn:hover {
  text-decoration: underline;
}

.l_order_side {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 304px;
  right: 0;
  z-index: 1;
  width: 300px;
  padding-left: 20px;
  background-color: #fff;
}
.skip,
.hide,
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
.l_order_side .b_order_sticky {
  width: 300px;
  background-color: #fff;
}

.b_order_world .c_order_style_2,
.b_order_sticky .c_order_style_2 {
  padding-top: 28px;
}
.c_order_style_2 {
  width: 100%;
  height: 28px;
  zoom: 1;
}
.c_order_title {
  position: relative;
}
.c_order_style_2 .title {
  float: left;
  font-size: 19px;
  line-height: 28px;
}
.c_order_title .c_order_header,
.c_order_title .title {
  color: #000;
  letter-spacing: 0;
}
.c_order_style_2:after {
  display: block;
  content: '';
  clear: both;
}

.c_order_amount .c_order_content {
  position: relative;
  border-bottom: 0;
}
.b_order_world .c_order_content,
.b_order_sticky .c_order_content {
  margin-top: 20px;
  padding-bottom: 17px;
  border-bottom: 1px dashed #ddd;
}
.l_order_side .price_field {
  position: relative;
  margin-top: 12px;
}
.l_order_side .price_field > dt {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  line-height: 22px;
  color: #333;
}

.l_order_side .price_field > dd {
  padding-left: 114px;
  font-size: 15px;
  line-height: 22px;
  color: #333;
  text-align: right;
}
.l_order_side .price_field .number {
  margin-right: 1px;
  font-size: 17px;
  font-weight: bold;
  color: #111;
}
.l_order_side .price_field:after {
  content: '';
  display: block;
  clear: both;
}
.l_order_side .discount .list_discount {
  display: none;
}
.l_order_side .discount .list_discount .discount_field {
  position: relative;
  margin-top: 8px;
}
.l_order_side .discount .list_discount dt {
  float: left;
  font-size: 14px;
  color: #666;
}
.l_order_side .discount .list_discount dd {
  font-size: 14px;
  text-align: right;
}
.l_order_side .discount dd,
.l_order_side .discount .number {
  color: #f43142;
}
.l_order_side .discount .list_discount .number {
  font-size: 15px;
  font-weight: normal;
}
.l_order_side .discount dd,
.l_order_side .discount .number {
  color: #f43142;
}

.c_order_total_price {
  position: relative;
  margin-top: 20px;
  padding-bottom: 10px;
}
.c_order_total_price .txt_total {
  position: absolute;
  top: 14px;
  left: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  color: #f43142;
}
.c_order_total_price .price {
  display: block;
  padding-left: 40px;
  font-size: 15px;
  color: #f43142;
  text-align: right;
}
.c_order_total_price .price .number {
  display: inline-block;
  margin-right: 3px;
  font-size: 34px;
  font-weight: bold;
  line-height: 41px;
  vertical-align: -3px;
}
.c_order_total_price .delivery {
  display: block;
  margin-top: 4px;
  font-size: 13px;
  color: #666;
  text-align: right;
}

.c_order_button {
  position: relative;
  z-index: 1;
  width: 300px;
  height: 64px;
  padding-top: 25px;
  padding-bottom: 23px;
}
.c_order_button .btn_order {
  position: relative;
  display: block;
  width: 300px;
  height: 64px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  color: #fff;
  background: #fc583f;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fc583f),
    color-stop(45%, #fc4949),
    to(#fc3a57)
  );
  background: -webkit-linear-gradient(
    left,
    #fc583f 0%,
    #fc4949 45%,
    #fc3a57 100%
  );
  background: linear-gradient(to right, #fc583f 0%, #fc4949 45%, #fc3a57 100%);
  -webkit-box-shadow: 0 8px 8px 0 rgb(244 49 66 / 20%);
  box-shadow: 0 8px 8px 0 rgb(244 49 66 / 20%);
}
.c_layer {
  display: none;
  position: absolute;
  z-index: 100;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 24px -8px rgb(0 0 0 / 12%),
    0 0 1px 0 rgb(0 0 0 / 36%);
  box-shadow: 0 6px 24px -8px rgb(0 0 0 / 12%), 0 0 1px 0 rgb(0 0 0 / 36%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
.c_layer .layer_tit {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #b2b2b2;
  font-size: 14px;
  font-weight: bold;
  color: #111;
}
.c_layer .layer_cont {
  text-align: left;
}
.c_layer .info_box:first-of-type {
  margin-top: 0;
}
.c_layer .info_box .txt {
  font-size: 14px;
  padding-top: 8px;
}
.c_layer .layer_btn_wrap {
  margin-top: 20px;
  text-align: center;
}
.c_layer .layer_btn_wrap .c_layer_btn:first-child {
  margin-left: 0;
}
.c_layer .layer_btn_wrap .c_layer_btn.c_layer_btn_style2 {
  border-color: #f43142;
  color: #f43142;
}
.c_layer .layer_btn_wrap .c_layer_btn {
  position: relative;
  display: inline-block;
  min-width: 56px;
  height: 24px;
  margin-left: 4px;
  padding: 0 6px;
  border: 1px solid #ccc;
  color: #111;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #666;
  text-decoration: none;
}
