.CustomerInfo_wrap {
  width: 100%;
  height: 100%;
  background: #f6f7fb;
}
.userBox {
  display: flex;
  min-width: 1240px;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.userBox > ul {
  position: relative;
  width: 415px;
  margin: 50px auto;
}
.userBox ul > li {
  padding: 5px;
}
.userBox p {
  display: inline-block;
  height: 25px;
  margin: 5px 10px 5px 0;
}
.userBox input {
  width: 200px;
  height: 45px;
}
.userBox button {
  display: inline-block;
  margin: 0 5px 5px 5px;
  width: 90px;
  height: 40px;
  cursor: pointer;
}
.userBox button:disabled {
  background-color: rgb(151, 151, 151);
}
.userBox .btn_box {
  position: relative;
  left: 60px;
  top: 40px;
  margin-bottom: 80px;
}
